@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="slider-container">
        
        <div class="container-fluid">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/Estudante-LGBT.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-md-block">
                      
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="img/dia internacional.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption  d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="img/mercado de trabalho.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption  d-md-block">
        </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        <!--Mini banners-->
    </div>
    <!--MINI BANNERS-->
<div class="col-12 col-md-10 offset-md-1" id="mini-banners">
<div class="row">
    <div class="col-12 col-md-4">
        <div class="card text-center">
            <i class="bi bi-box primary-color"></i>
            <div class="card-body">
                <h5 class="card-tittle primary-color">Agende</h5>
                <p class="card-text secondary-color">Agende um atendimento gratuito especializado.
              </p>
            <a href="#" class="btn btn-dark">Saber Mais</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card text-center">
            <i class="bi bi-layers primary-color"></i>
            <div class="card-body">
                <h5 class="card-tittle primary-color">Opções de Ajuda</h5>
                <p class="card-text secondary-color">Diversas categorias, confira!
              </p>
            <a href="#" class="btn btn-dark">Saber Mais</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card text-center">
            <i class="bi bi-lightning-charge primary-color"></i>
            <div class="card-body">
                <h5 class="card-tittle primary-color">Depoimentos</h5>
                <p class="card-text secondary-color">A travesti Valeryah Rodrigues, 35, deixou a escola na quinta série, depois de apanhar dezenas de vezes dos colegas. "Só agora é que eu estou conseguindo voltar a estudar, por meio do Union", conta. 
              </p>
            <a href="#" class="btn btn-dark">Saber Mais</a>
            </div>
        </div>
    </div>
</div>
</div>    
</div>
</div>
<!--DESTAQUES-->
<div class="container" id="featured-container">
<div class="col-12">
    <h2 class="tittle primary-color">DESTAQUES</h2>
    <p class="subtitle secondary-color">
        Saiba Mais Sobre Nós
</p>
</div>
<div class="col-12" id="featured-images">
 <div class="row g-4">
<div class="col-12 col-md-4">
    <img src="img/pandemia.jpg" alt="Projeto 1" class="img-fluid">
    <div class="banner-content">
        <p class="secondary-color">Categoria</p>
       <h3>Nome da categoria</h3> 
    </div>
</div>
<div class="col-12 col-md-4">
    <img src="img/pandemia 2.jpg" alt="Projeto 2" class="img-fluid">
    <div class="banner-content">
        <p class="secondary-color">Categoria</p>
       <h3>Nome da categoria</h3> 
    </div>
</div>
<div class="col-12 col-md-4">
    <img src="img/pandemia 3.jpg" alt="Projeto 3" class="img-fluid">
    <div class="banner-content">
        <p class="secondary-color">Categoria</p>
       <h3>Nome da categoria</h3> 
    </div>
</div>
<div class="col-12 col-md-4">
    <img src="img/como apoiar.jpg" alt="Projeto 4" class="img-fluid">
    <div class="banner-content">
        <p class="secondary-color">Categoria</p>
       <h3>Nome da categoria</h3> 
    </div>
</div>
<div class="col-12 col-md-4">
    <img src="img/pesquisa de genero.jpg" alt="Projeto 5" class="img-fluid">
    <div class="banner-content">
        <p class="secondary-color">Categoria</p>
       <h3>Nome da categoria</h3> 
    </div>
</div>
<div class="col-12 col-md-4">
    <img src="img/pesquisa geral.jpg" alt="Projeto 6" class="img-fluid">
    <div class="banner-content">
        <p class="secondary-color">Categoria</p>
       <h3>Nome da categoria</h3> 
    </div>
</div>
 </div>
</div>
</div>
<!--INFO-->
<div class="container" id="info-container">
    <div class="col-12">
        <h2 class="title primary-color">Atendimentos</h2>
        <p class="subtitle secondary-color">
            Pessoas Atendidas
        </p>
    </div>
    <div class="col-12">
        <div class="row">
             <div class="col-md-5" id="info-banner">
                <img 
                src="img/indice de vulnerabilidade.jpg" 
                alt="Informações da Empresa" 
                class="img-fluid"
                />
            </div>
            <div class="col-12 col-md-7 bg-secondary-color" id="info-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title primary-color">Estes Dados Fazem a Diferença</h2>
                        <p class="subtitle secondary-color">
                            O Programa Transcidadania promove a reintegração social e o resgate da cidadania para travestis, 
                            mulheres transexuais e homens trans em situação de vulnerabilidade. 
                            Atualmente o programa possui 510 vagas.
                        </p>
                    </div>
                    <div class="col-12" id="info-numbers">
                        <div class="row">
                            <div class="col-4">
                                <h3 class="primary-color">01</h3>
                                <p class="secondary-color">Anos ajudando na causa LGBTQIA</p>
                            </div>
                            <div class="col-4">
                                <h3 class="primary-color">35</h3>
                                <p class="secondary-color">Ajudas Feitas</p>
                            </div>
                            <div class="col-4">
                                <h3 class="primary-color">133</h3>
                                <p class="secondary-color">Pessoas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="#" class="btn btn-dark">Saber Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>